@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Galang';
    font-family: 'Aleta';

  src: local('Aksara Bali Galang'), url('../assets/fonts/AksaraBaliGalang.ttf') format('truetype');
    src: local('Aleta'), url('../assets/fonts/Aleta-Regular.ttf') format('truetype');
}

body{
  overflow-x: hidden;

}


@theme{
  --font-Galang: 'Galang',serif;
  
}

